
div#contenedor{
	border: 1px dashed grey;
	width: 75%;
	margin: auto;
}
	
ul{
	list-style-type: none;		
}

nav ul  {
	width: 100%;
	text-align: center;
	background: red;
}
nav ul li{
	float: left;	
	border-right: 1px dashed yellow;

}
nav ul li{
	float: left;
	padding: 4px;
	margin: 4px;
	border-right:0px dashed red;
	text-align: center;
	width: 100px; 
}
nav ul li{
	text-decoration: none;	
	color: 	green;
	text-align: center;
}
div#logo{
	
}
div#titulo{
	width: 100%;
	height: 100px;
}
div.apartados{
	width: 33%;
	height: 100%;
	float: left;
	text-align: center;
}
div#carousel{
	width: 100%;
	height: 450px;
	margin-left: 0px;
	background:url(../img/grupo.jpg);
	margin-top: 0px;
	margin-bottom: 0px;
	box-shadow: 0px 10px 25px rgba(0,0,0,0,4);
}	

div#contieneInfo{
	padding: 10px;

}
article{
	width:33%;
	text-align: justify;
	float: left;	
}
footer{
	margin-top: 30px;
	height:50px;
	text-align: center;
}


/* Script necesario para adolescentes*/
div.section{
	float: left;
	width: 33%;
}

div.contInfAd{
	margin: 3px;
	padding: 5px;
	height: 100%;
	background: grey;
}

div#descripion{
	margin-top: 50px;
}