body{
	background:-webkit-linear-gradient(yellow,blue);
	background:-moz-linear-gradient(yellow,blue);
	background:-ms-linear-gradient(yellow,blue);
	background:-o-linear-gradient(yellow,blue);
}
div#contenedor{
	width: 75%;
	margin: auto;
}
nav#boton{
	margin-top: 30px;
	float: left;
	margin-left: 8%;
	width: 100%;
}
nav#boton ul li{
	text-align: center;
	list-style: none;
	font-size: 20px;
	padding: 5px;
	width: 15%;
	height:10%;
	float: left;
}
nav#boton ul li:hover{
	background: yellow;
}
nav#boton ul li ul li{
	margin-top: 6px;
}
nav#boton ul li ul li{
	display: none

}
nav#boton ul li ul li {
	width: 100%;
	height: 25%;
	clear: both;
	float: left;
	margin-left: -25px;
}
nav#boton ul li:hover ul li{
	display: block;
}
div#logo{
	height:100px;
	width: 110px;
	background:url(../img/mero.jpg.);
	background-size: 100% 100%;	
	float: left;
}
}div#titulo{
	width: 100%;
	height: 100px;
}
div.apartados{
	width: 33%;
	height: 100%;
	float: left;
	text-align: center;
}

div#contieneImg{
	width: 70%;
	height: 450px;
	float: left;
}
div#contieneInfo{
	width: 30%;
	height: 425px;
	float: left;
	background: 
}
div#contieneAct{
	width: 70%;
	height: 200px;
}
div.actividades{
	margin: 5px;
	height: 100%;
	max-height: 420px;
	max-width: 900px;
}
div#img1{
	background: url(../img/fo.jpeg);
}
div#info{
	width: 50%; 
	text-align: center;
	
}
div#img2{
	background: 
}
footer{
	margin-top: 30px;
	height: 50px;
	text-align: center;
}

