   /* use navbar-wrapper to wrap navigation bar, the purpose is to overlay navigation bar above slider */
	.navbar-wrapper {
	    position: absolute;
	    top: 20px;
		left: 0;
		width: 100%;
		height: 51px;
	}
	.navbar-wrapper > .container {
		padding: 0;
	}

	@media all and (max-width: 768px ){
		.navbar-wrapper {
			position: relative;
			top: 0px;
		}
	}
	nav.navbar ul.nav li {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	nav.navbar {
		background-color: yellow;
	}

div.navbar-collapse > ul.navbar-nav > li > a {
    color:blue;
}

div.navbar-header > a.navbar-brand {
    color:blue;
}
